$primary-color: #3498db;
$secondary-color: #262836;
$thirdy-color: #b30e76;
$text-primary-color: #ffffff;
$text-secondary-color: #adadad;

$base-font-family: "Arian2", Helvetica, sans-serif;

$font-primary: "Arian2", Helvetica, sans-serif;
$fsize-text: 1rem;
$fsize-title: 1.5rem;
$tcolor-primary: #ffffff;
$tcolor-secondary: #d4d4d4;
$tcolor-border: #b30e76;
$width-body: 90rem;
