@import '../base/reset';
@import '../base/typography';
@import '../base/mixins';
@import '../base/utilites';

@import '../layouts/header';

@import "../components/moviecard";
@import "../components/search";
@import "../components/filter";
@import "../components/best";

main{
  display: flex;
  .sections{
    width: 100%;
    margin: 1.5rem 1.5rem 0 0;
    .section__filters{
      display: flex;
      margin-bottom: 1.5rem;
      h3{
        margin: auto 0;
        vertical-align: middle;
      }
      span{
        @include component();
        margin-left: 0.75rem;
        color: $text-primary-color;
        padding: 0.375rem 0.625rem;
        border-radius: 0.625rem;
      }
    }
    .section__videos{
      display: grid;
      gap: 1.5rem;
    }
  }
  aside{
    max-width: 20rem;
    width: 100%;
  }
}

@media (max-width: 479px) {
  .section__videos{
    grid-template-columns: 1fr;
  }
  aside{
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .section__videos{
    grid-template-columns: 1fr 1fr;
  }
  aside{
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .section__videos{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .section__videos{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1280px) and (max-width: 1599px) {
  .section__videos{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .section__videos{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1920px) and (max-width: 2399px) {
  .section__videos{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 2400px) {
  .section__videos{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}