@import '../../base/reset';
@import '../../base/typography';
@import '../../base/mixins';
@import '../../base/utilites';

@import '../../layouts/header';

@import '../../components/admin/_addMovie.scss';

main{
  display: flex;
  aside{
    max-width: 20rem;
    width: 100%;
  }
  .sections{
    width: 100%;
    margin: 1.5rem 0 0 1.5rem;
  }
}