{{ define "movie" }}
    {{ range .MovieData }}
    <div class="section__movie">
        <div class="section__movie-img">
            <img src="{{ .Poster }}" alt="Постер фильма">
        </div>
        <div class="section__movie-info">
            <h1>{{ .Title }}</h1>
            <p>{{ .Description }}</p>
            <div class="section__movie-main">
                <div class="section__movie-buttons">
                    <div class="button__like">
                        <form action="/like" method="post">
                            <input type="hidden" name="id" value="{{ .Id }}" class="likeValue">
                            <button type="submit" class="likeButton">Поставить лайк</button>
                        </form>
                    </div>
                    <div class="button__dislike">
                        <form action="/dislike" method="post">
                            <input type="hidden" name="id" value="{{ .Id }}" class="dislikeValue">
                            <button type="submit" class="dislikeButton">Поставить дизлайк</button>
                        </form>
                    </div>
                </div>
                <div class="section__movie-ratings">
                    <div class="rating__kinopoisk rating">
                        <p>Кинопоиск {{ .ScoreKP }}</p>
                    </div>
                    <div class="rating__imdb rating">
                        <p>IMDb {{ .ScoreIMDB }}</p>
                    </div>
                </div>
            </div>
            <h3>О фильме</h3>
            <table>
                <tr>
                    <td class="titleInfo">Год выхода</td>
                    <td class="itemInfo">{{ .ReleaseDate }}</td>
                </tr>
                <tr>
                    <td class="titleInfo">Страна</td>
                    <td class="itemInfo">{{ .Country }}</td>
                </tr>
                <tr>
                    <td class="titleInfo">Жанр</td>
                    <td class="itemInfo">{{ .Genres }}</td>
                </tr>
                <tr>
                    <td class="titleInfo">Длительность</td>
                    <td class="itemInfo">{{ .TimeMovie }} минут</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="section__player">
        <video id="section__player-item" preload="auto" width="640" height="360"></video>
    </div>
    {{end}}
{{end}}