<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/main.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header__logotype">
                <h1><a href="/">KINOTEATR</a></h1>
            </div>
            <nav>
                <a href="">Главная</a>
                <a href="">Фильмы</a>
                <a href="">Мультфильмы</a>
                <a href="">Передачи</a>
            </nav>
        </header>
        <main>
            <div class="sections">
                <div class="section__videos">
                    <div class="section__videos-filters">
                        <h3>Результаты поиска по запросу: </h3>
                        <span>{{ .GeneralData.TextSearch }}</span>
                    </div>
                    {{range .MovieData}}
                    <div class="card-{{ .Id }} card">
                        <a href="/id/{{ .Id }}">
                            <div class="card__poster">
                                <img src="{{ .Poster }}" alt="Постер">
                            </div>
                            <div class="card__info">
                                <h2 class="card__info-title">{{ .Title }} ({{ .Releasedate }})</h2>
                                <p class="card__info-description">{{ .Description }}</p>
                                <div class="card__info-ratings">
                                    <div class="rating__kinopoisk rating">
                                        <p>Кинопоиск {{ .Scorekp }}</p>
                                    </div>
                                    <div class="rating__imdb rating">
                                        <p>IMDb {{ .Scoreimdb }}</p>
                                    </div>
                                </div>
                                <div class="card__info-genres">
                                    <p>{{ .Genre }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{end}}
                </div>
            </div>
            <aside>
                <div class="aside__search">
                    <h3>Поиск</h3>
                    <form action="/searchpage" method="POST">
                        <input type="text" name="search" id="aside__search-input" placeholder="Введите запрос">
                        <button type="submit"><img src="../assets/search.svg" alt="Поиск"></button>
                    </form>
                    <div class="aside__search-results" id="aside__search-results"></div>
                </div>
            </aside>
        </main>
    </div>
    <script src="../scripts/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var timer;

            document.getElementById('aside__search-input').addEventListener('keyup', function(){
                clearTimeout(timer);
                let movieName = this.value;
                if(movieName !== ''){
                    timer = setTimeout(function(){
                        let xhr = new XMLHttpRequest();
                        xhr.open('POST', '/search', true);
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                        xhr.onload = function(){
                            if(this.status === 200){
                                let oldList = document.getElementById('aside__search-results');
                                while (oldList.firstChild) {
                                    oldList.removeChild(oldList.firstChild);
                                }
                                oldList.classList.add('enabled');
                                // Добавить новый список после поля ввода
                                oldList.innerHTML = this.responseText;
                            }
                        };
                        xhr.send('search=' + encodeURIComponent(movieName));
                    }, 500);
                }
            });
        });
    </script>
</body>
</html>