@font-face {
  font-family: "Comfortaa", sans-serif;
  src: url("/web/main/assets/fonts/Comfortaa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #27247b;
  background-image: url("/web/main/assets/images/background.svg");
  background-attachment: fixed;
  background-size: cover;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: "Arian2", Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}
body * {
  color: #ffffff;
  box-sizing: border-box;
}

.container {
  width: 90rem;
  margin: 0 auto;
  padding: 25px 0;
}
.container header {
  display: flex;
  margin-bottom: 25px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
.container header .header__logotype h1 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}
.container header .header__logotype h1 a {
  text-decoration: none;
}
.container header nav {
  margin: auto;
}
.container header nav a {
  margin: 0 7.5px;
  vertical-align: middle;
  text-decoration: none;
  transition: 0.3s;
}
.container header nav a:hover {
  color: #b30e76;
  transition: 0.3s;
}
.container header .header__auth {
  margin: -6px 0;
}
.container main {
  display: flex;
}
.container main .sections {
  width: 100%;
  margin-right: 25px;
}
.container main aside {
  max-width: 20rem;
  width: 100%;
}

main .sections .section__twitch {
  display: flex;
  margin-bottom: 1.5rem;
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
main .sections .section__twitch .section__twitch-player {
  margin-right: 1.5rem;
}
main .sections .section__twitch .section__twitch-player iframe {
  border-radius: 15px;
}
main .sections .section__twitch .section__twitch-info h2 {
  font-size: 1.5rem;
  margin-top: 0;
}
main .sections .section__twitch .section__twitch-info a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
}
main .sections .section__twitch .section__twitch-info a span {
  position: relative;
  z-index: 2;
}
main .sections .section__twitch .section__twitch-info a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #18173a;
  transition: all 0.35s;
}
main .sections .section__twitch .section__twitch-info a:hover {
  color: #fff;
  border: 2px solid #18173a;
}
main .sections .section__twitch .section__twitch-info a:hover:after {
  width: 100%;
}
main .sections .section__videos .section__videos-filters {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 15px;
  display: flex;
  margin-bottom: 25px;
}
main .sections .section__videos .section__videos-filters h3 {
  margin: auto 15px auto 0;
}
main .sections .section__videos .section__videos-filters span {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 7.5px 12.5px;
  margin: 0 5px;
}
main .sections .section__videos .card {
  margin-bottom: 1.5rem;
  display: none;
}
main .sections .section__videos .card a {
  display: flex;
  text-decoration: none;
  transition: 0.3s;
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
main .sections .section__videos .card a:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
  transition: 0.3s;
}
main .sections .section__videos .card a .card__poster {
  margin-right: 1.5rem;
}
main .sections .section__videos .card a .card__poster img {
  height: 15rem;
  border-radius: 15px;
}
main .sections .section__videos .card a .card__info {
  display: flex;
  flex-direction: column;
}
main .sections .section__videos .card a .card__info .card__info-title {
  font-size: 1.5rem;
  margin: 0;
}
main .sections .section__videos .card a .card__info .card__info-description {
  font-size: 0.95rem;
  color: #d4d4d4;
  line-height: 1.35;
  margin-bottom: 0;
}
main .sections .section__videos .card a .card__info .card__info-ratings {
  display: flex;
  margin: auto 0;
  padding: 15px 0;
}
main .sections .section__videos .card a .card__info .card__info-ratings .rating {
  border-radius: 15px;
  border: 3px solid #b30e76;
  padding: 10px 15px;
}
main .sections .section__videos .card a .card__info .card__info-ratings .rating p {
  padding: 0;
  margin: 0;
}
main .sections .section__videos .card a .card__info .card__info-ratings .rating__kinopoisk {
  margin-right: 1rem;
}
main .sections .section__videos .card a .card__info .card__info-genres p {
  margin: 0 0 8px 0;
  color: #d4d4d4;
}
main aside .aside__search {
  display: none;
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-bottom: 25px;
}
main aside .aside__search h3 {
  margin-top: 0;
}
main aside .aside__search form {
  display: flex;
  border-radius: 15px;
  transition: 0.3s;
}
main aside .aside__search form:hover {
  transform: translateY(-1px);
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
  transition: 0.3s;
}
main aside .aside__search form input {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 15px 0 0 15px;
  padding: 15px 10px 15px 15px;
  width: 100%;
}
main aside .aside__search form input::placeholder {
  color: #ffffff;
  opacity: 0.9;
}
main aside .aside__search form input:focus {
  outline: none;
}
main aside .aside__search form button {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 0 15px 15px 0;
  padding: 8px;
}
main aside .aside__search form button img {
  width: 100%;
  height: 26px;
  filter: invert(1);
}
main aside .aside__search form button img:hover {
  cursor: pointer;
}
main aside .aside__search .aside__search-results {
  margin-top: 15px;
}
main aside .aside__search .aside__search-results a {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  display: block;
  margin-top: 15px;
  padding: 15px;
  width: 100%;
  text-decoration: none;
}
main aside .aside__filter {
  display: none;
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  margin-bottom: 25px;
}
main aside .aside__filter h3 {
  margin-top: 0;
}
main aside .aside__filter form {
  height: 100%;
}
main aside .aside__filter form .custom-select {
  display: none;
}
main aside .aside__filter form .select-wrapper {
  display: block;
  position: relative;
  height: 100%;
  margin-bottom: 15px;
  border-radius: 15px;
  transition: 0.3s;
}
main aside .aside__filter form .select-wrapper:hover {
  transform: translateY(-1px);
  box-shadow: 0 14px 18px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.02);
  transition: 0.3s;
}
main aside .aside__filter form .select-wrapper .select-result {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  padding: 0;
  width: 100%;
  height: 54px;
  overflow: hidden;
}
main aside .aside__filter form .select-wrapper .select-result:hover {
  cursor: pointer;
}
main aside .aside__filter form .select-wrapper .select-result div {
  padding: 17px 40px 17px 12.5px;
  border-radius: 15px;
  transition: 0.3s;
}
main aside .aside__filter form .select-wrapper .select-result div:hover {
  color: #b30e76;
  transition: 0.3s;
}
main aside .aside__filter form .select-wrapper .select-result .select-view {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main aside .aside__filter form .select-wrapper .select-result .select-view:hover {
  color: #ffffff;
}
main aside .aside__filter form .select-wrapper .select-result .select-hr {
  margin: 0 12px;
  opacity: 0.3;
}
main aside .aside__filter form .select-wrapper .select-result .selected {
  color: #b30e76;
}
main aside .aside__filter form .select-wrapper .select-result span {
  color: white;
  position: absolute;
  top: 14px;
  right: 15px;
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
  font-size: 20px;
}
main aside .aside__filter form .select-wrapper .select-result span:hover {
  cursor: pointer;
}
main aside .aside__filter form .select-wrapper .select-result .display-none {
  display: none;
}
main aside .aside__filter form .select-wrapper .select-active {
  height: 100% !important;
}
main aside .aside__filter form .select-wrapper .select-active span {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
main aside .aside__filter form .select-wrapper .select-active .select-result::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
main aside .aside__filter form .slider__year .slider__value {
  display: flex;
  margin-top: 10px;
}
main aside .aside__filter form .slider__year .slider__value input {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 7.5px;
  border-radius: 7.5px;
  width: 47px;
}
main aside .aside__filter form .slider__year .slider__value input:focus {
  outline: none;
}
main aside .aside__filter form .slider__year .slider__value #slider-max {
  margin-left: auto;
  margin-right: 0;
}
main aside .aside__filter form button {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 16px;
  width: 100%;
  height: 54px;
  padding: 7.5px 12.5px;
  border-radius: 10px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}
main aside .aside__filter form button a {
  position: relative;
  transition: all 0.45s ease-Out;
  text-decoration: none;
}
main aside .aside__filter form button #circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #b30e76;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}
main aside .aside__filter form button:hover {
  border: 1px solid #b30e76;
  transition: all 0.45s ease-Out;
}
main aside .aside__filter form button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}
main aside .aside__bestmovie {
  display: none;
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}
main aside .aside__bestmovie h3 {
  margin-top: 0;
}
main aside .aside__bestmovie .bestmovie__item img {
  width: 100%;
  border-radius: 25px;
}
main aside .aside__bestmovie .bestmovie__item p {
  text-align: center;
}
main aside .aside__bestmovie .bestmovie__item button {
  padding: 25px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  font-size: 16px;
  width: 100%;
  height: 54px;
  padding: 7.5px 12.5px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
main aside .aside__bestmovie .bestmovie__item button a {
  position: relative;
  transition: all 0.45s ease-Out;
  text-decoration: none;
}
main aside .aside__bestmovie .bestmovie__item button #circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #b30e76;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}
main aside .aside__bestmovie .bestmovie__item button:hover {
  border: 1px solid #b30e76;
  transition: all 0.45s ease-Out;
}
main aside .aside__bestmovie .bestmovie__item button:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

/*# sourceMappingURL=main.css.map */
