// Импорты
@import "../index";
@import "../variables";
@import "../mixins";

main {
    .sections {
        .section__twitch {
            display: flex;
            margin-bottom: 1.5rem;
            .section__twitch-player {
                margin-right: 1.5rem;
                iframe {
                    border-radius: 15px;
                }
            }
            .section__twitch-info {
                h2 {
                    font-size: $fsize-title;
                    margin-top: 0;
                }
                @include button();
            }
            @include glassphormism();
        }
        .section__videos {
            .section__videos-filters {
                @include glassphormism();
                padding: 15px;
                display: flex;
                margin-bottom: 25px;
                h3 {
                    margin: auto 15px auto 0;
                }
                span {
                    @include glassphormism();
                    padding: 7.5px 12.5px;
                    margin: 0 5px;
                }
            }
            .card {
                margin-bottom: 1.5rem;
                display: none;
                a {
                    display: flex;
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover {
                        transform: translateY(-2px);
                        box-shadow:
                            0 14px 18px rgba(0, 0, 0, 0.05),
                            0 10px 10px rgba(0, 0, 0, 0.02);
                        transition: 0.3s;
                    }
                    .card__poster {
                        margin-right: 1.5rem;
                        img {
                            height: 15rem;
                            border-radius: 15px;
                        }
                    }
                    .card__info {
                        display: flex;
                        flex-direction: column;
                        .card__info-title {
                            font-size: $fsize-title;
                            margin: 0;
                        }
                        .card__info-description {
                            font-size: 0.95rem;
                            color: $tcolor-secondary;
                            line-height: 1.35;
                            margin-bottom: 0;
                        }
                        .card__info-ratings {
                            display: flex;
                            margin: auto 0;
                            padding: 15px 0;
                            .rating {
                                border-radius: 15px;
                                border: 3px solid $tcolor-border;
                                padding: 10px 15px;
                            }
                            .rating p {
                                padding: 0;
                                margin: 0;
                            }
                            .rating__kinopoisk {
                                margin-right: 1rem;
                            }
                        }
                        .card__info-genres {
                            p {
                                margin: 0 0 8px 0;
                                color: $tcolor-secondary;
                            }
                        }
                    }
                    @include glassphormism();
                }
            }
        }
    }
    aside {
        .aside__search {
            display: none;
            @include glassphormism();
            margin-bottom: 25px;
            h3 {
                margin-top: 0;
            }
            form {
                display: flex;
                border-radius: 15px;
                transition: 0.3s;
                &:hover {
                    transform: translateY(-1px);
                    box-shadow:
                        0 14px 18px rgba(0, 0, 0, 0.05),
                        0 10px 10px rgba(0, 0, 0, 0.02);
                    transition: 0.3s;
                }
                input {
                    @include glassphormism();
                    border-radius: 15px 0 0 15px;
                    padding: 15px 10px 15px 15px;
                    width: 100%;
                    &::placeholder {
                        color: $tcolor-primary;
                        opacity: 0.9;
                    }
                }
                input:focus {
                    outline: none;
                }
                button {
                    @include glassphormism();
                    border-radius: 0 15px 15px 0;
                    padding: 8px;
                    img {
                        width: 100%;
                        height: 26px;
                        filter: invert(1);
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
            .aside__search-results {
                margin-top: 15px;
                a {
                    @include glassphormism();
                    display: block;
                    margin-top: 15px;
                    padding: 15px;
                    width: 100%;
                    text-decoration: none;
                }
            }
        }
        .aside__filter {
            display: none;
            @include glassphormism();
            margin-bottom: 25px;
            h3 {
                margin-top: 0;
            }
            form {
                height: 100%;
                .custom-select {
                    display: none;
                }
                .select-wrapper {
                    display: block;
                    position: relative;
                    height: 100%;
                    margin-bottom: 15px;
                    border-radius: 15px;
                    transition: 0.3s;
                    &:hover {
                        transform: translateY(-1px);
                        box-shadow:
                            0 14px 18px rgba(0, 0, 0, 0.05),
                            0 10px 10px rgba(0, 0, 0, 0.02);
                        transition: 0.3s;
                    }
                    .select-result {
                        @include glassphormism();
                        backdrop-filter: blur(25px) saturate(180%);
                        -webkit-backdrop-filter: blur(25px) saturate(180%);
                        padding: 0;
                        width: 100%;
                        height: 54px;
                        overflow: hidden;
                        &:hover {
                            cursor: pointer;
                        }
                        div {
                            padding: 17px 40px 17px 12.5px;
                            border-radius: 15px;
                            transition: 0.3s;
                            &:hover {
                                color: $tcolor-border;
                                transition: 0.3s;
                            }
                        }
                        .select-view {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            &:hover {
                                color: $tcolor-primary;
                            }
                        }
                        .select-hr {
                            margin: 0 12px;
                            opacity: 0.3;
                        }
                        .selected {
                            color: $tcolor-border;
                        }
                        span {
                            color: white;
                            position: absolute;
                            top: 14px;
                            right: 15px;
                            display: block;
                            -webkit-transform: rotate(90deg);
                            transform: rotate(90deg);
                            -webkit-transition: 0.3s;
                            transition: 0.3s;
                            pointer-events: none;
                            font-size: 20px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        .display-none {
                            display: none;
                        }
                    }
                    .select-active {
                        height: 100% !important;
                        span {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: 0.3s;
                            transition: 0.3s;
                        }
                        .select-result::after {
                            -webkit-transform: rotate(0deg);
                            transform: rotate(0deg);
                        }
                    }
                }
                .slider__year {
                    .slider__value {
                        display: flex;
                        margin-top: 10px;
                        input {
                            @include glassphormism();
                            padding: 7.5px;
                            border-radius: 7.5px;
                            width: 47px;
                        }
                        input:focus {
                            outline: none;
                        }
                        #slider-max {
                            margin-left: auto;
                            margin-right: 0;
                        }
                    }
                }
                button {
                    @include glassphormism();
                    font-size: 16px;
                    width: 100%;
                    height: 54px;
                    padding: 7.5px 12.5px;
                    border-radius: 10px;
                    margin-top: 15px;
                    position: relative;
                    overflow: hidden;
                    a {
                        position: relative;
                        transition: all 0.45s ease-Out;
                        text-decoration: none;
                    }
                    #circle {
                        width: 0%;
                        height: 0%;
                        opacity: 0;
                        line-height: 40px;
                        border-radius: 50%;
                        background: $tcolor-border;
                        position: absolute;
                        transition: all 0.5s ease-Out;
                        top: 20px;
                        left: 70px;
                    }
                    &:hover {
                        border: 1px solid $tcolor-border;
                        transition: all 0.45s ease-Out;
                        #circle {
                            width: 200%;
                            height: 500%;
                            opacity: 1;
                            top: -70px;
                            left: -70px;
                        }
                    }
                }
            }
        }
        .aside__bestmovie {
            display: none;
            @include glassphormism();
            h3 {
                margin-top: 0;
            }
            .bestmovie__item {
                img {
                    width: 100%;
                    border-radius: 25px;
                }
                p {
                    text-align: center;
                }
                button {
                    @include glassphormism();
                    font-size: 16px;
                    width: 100%;
                    height: 54px;
                    padding: 7.5px 12.5px;
                    border-radius: 10px;
                    text-align: center;
                    position: relative;
                    overflow: hidden;
                    a {
                        position: relative;
                        transition: all 0.45s ease-Out;
                        text-decoration: none;
                    }
                    #circle {
                        width: 0%;
                        height: 0%;
                        opacity: 0;
                        line-height: 40px;
                        border-radius: 50%;
                        background: $tcolor-border;
                        position: absolute;
                        transition: all 0.5s ease-Out;
                        top: 20px;
                        left: 70px;
                    }
                    &:hover {
                        border: 1px solid $tcolor-border;
                        transition: all 0.45s ease-Out;
                        #circle {
                            width: 200%;
                            height: 500%;
                            opacity: 1;
                            top: -70px;
                            left: -70px;
                        }
                    }
                }
            }
        }
    }
}
