// Импорты
@import "../variables";
@import "../mixins";

.section__movie {
    display: none;
    margin-bottom: 25px;
    .section__movie-img {
        margin-right: 1.5rem;
        img {
            width: 14rem;
            border-radius: 15px;
        }
    }
    .section__movie-info {
        h1 {
            margin-top: 0;
        }
        p {
            color: $tcolor-secondary;
        }
        .section__movie-main {
            display: flex;
            margin: 1.5rem 0;
            .section__movie-buttons {
                display: flex;
                button {
                    @include glassphormism();
                    font-size: $fsize-text;
                    padding: 10px 15px;
                    margin-right: 15px;
                    border-radius: 15px;
                    background: $tcolor-border;
                    border: 3px solid $tcolor-border;
                    transition: 0.3s;
                    a {
                        text-decoration: none;
                        vertical-align: middle;
                    }
                    &:hover {
                        background: none;
                        cursor: pointer;
                        border: 3px solid $tcolor-border;
                        transition: 0.3s;
                    }
                }
            }
            .section__movie-ratings {
                display: flex;
                margin-right: 0;
                margin-left: auto;
                .rating {
                    border-radius: 15px;
                    border: 3px solid $tcolor-border;
                    padding: 10px 15px;
                }
                .rating p {
                    padding: 0;
                    margin: 0;
                }
                .rating__kinopoisk {
                    margin-right: 1rem;
                }
            }
        }
        table {
            tr {
                .titleInfo {
                    color: #d4d4d4;
                    width: 9.5rem;
                }
            }
        }
    }
    @include glassphormism();
}
.section__player {
    @include glassphormism();
    margin-bottom: 25px;
    display: none;
    [data-media-player][data-controls] .quality-selector {
        opacity: 1;
        pointer-events: auto;
    }
    .quality-selector{
        position: absolute;
        top: 15px;
        left: 15px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s ease;
        button{
            border: 1px solid #232323;
            border-radius: 4px;
            background-color: #0a0a0a;
            padding: 7.5px;
            margin-right: 5px;
            transition: .1s ease-in-out;
            &:hover{
                background-color: #222222;
                transition: .1s ease-in-out;
                cursor: pointer;
            }
            &.active{
                background-color: #222222;
            }
        }
    }
}
.section__comments {
    @include glassphormism();
    display: none;
    h2{
        margin-top: 0;
    }
    .editor {
        display: block;
        margin-bottom: 25px;
        .editor__comment{
            @include glassphormism();
            padding: 0 15px 5px 15px;
            width: 700px;
            margin-bottom: 10px;
            font-size: 14px;
            .editor__comment-answer{
                color: #d4d4d4;
                display: flex;
                align-items: center;
                gap: 5px;
                margin-bottom: 5px;
                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 5px;
                }
            }
            .editor__comment-cancel{
                cursor: pointer;
                font-size: 24px;
                color: white;
                &:hover{
                    color: #b30e76;
                }
            }
            .editor__comment-text{
                margin-top: 5px;
            }
        }
        textarea {
            @include glassphormism();
            width: 700px !important;
            height: 150px !important;
            padding: 15px;
            resize: none;
            margin-bottom: 7.5px;
            &::placeholder {
                color: #d4d4d4;
            }
            &:focus-visible{
                outline: none;
            }
        }
        button {
            @include glassphormism();
            padding: 10px 15px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .level-0{
        margin-left: 0 !important;
    }
    .comment {
        margin-top: 10px;
        margin-left: 20px;
        .comment__user-info{
            display: flex;
            align-items: center;
            gap: 10px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 7.5px;
            }
            a{
                text-decoration: none;
                font-size: 18px;
            }
            p{
                font-size: 13px;
                color: #d4d4d4;
            }
        }
        p{
            margin: 10px 0;
        }
        .reply-button{
            display: block;
            cursor: pointer;
            font-size: 14px;
            color: #d4d4d4;
        }
    }
}
