<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin/assets/admin.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="header__logotype">
                <h1>KINOTEATR</h1>
            </div>
            <nav>
                <a href="">Главная</a>
                <a href="">Фильмы</a>
                <a href="">Мультфильмы</a>
                <a href="">Передачи</a>
            </nav>
        </header>
        <main>
            <div class="sections">
                <div class="section__movies">
                    <div class="section__movies-add">
                        <input type="text" list="movies" placeholder="Название фильма" id="section__movies-input">
                        <form action="/addmovie" method="post" id="section__movies-form" enctype="multipart/form-data">
                            <div id="section__movies-list"></div>
                            <div class="section__movies-send">
                                <div id="drop_zone">Перетащите видеофайлы сюда</div>
                                <input type="file" id="send_video" name="send-video" accept="video/*">
                            </div>
                            <a href="#" data-hystmodal="#myModal">Показать окно с id=myModal</a>
                            <button type="submit" id="section__movies-button">Добавить фильм</button>
                        </form>
                    </div>
                </div>
            </div>
            <aside></aside>
            <div class="hystmodal" id="myModal" aria-hidden="true">
                <div class="hystmodal__wrap">
                    <div class="hystmodal__window" role="dialog" aria-modal="true">
                        <button data-hystclose class="hystmodal__close">Закрыть</button>
                        <div id="progress__downloading">
                            <p id="progress__downloading-title">Статус загрузки: </p>
                            <div id="progress__downloading-bar" class="progress-bar"></div>
                        </div>
                        <div id="progress__processing">
                            <p id="progress__processing-title">Статус обработки: 0%</p>
                            <div id="progress__processing-bar" class="progress-bar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="../../scripts/hystmodal.min.js"></script>
    <link rel="stylesheet" href="../../scripts/hystmodal.min.css">
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            var timer;

            let form = document.getElementById('section__movies-form');
            let button = document.getElementById('section__movies-button');
            button.disabled = true;

            document.getElementById('section__movies-input').addEventListener('keyup', function(){
                clearTimeout(timer);
                let movieName = this.value;
                if(movieName !== ''){
                    timer = setTimeout(function(){
                        let xhr = new XMLHttpRequest();
                        xhr.open('POST', '/resultmovie', true);
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                        xhr.onload = function(){
                            if(this.status === 200){
                                let oldList = document.getElementById('section__movies-list');
                                while (oldList.firstChild) {
                                    oldList.removeChild(oldList.firstChild);
                                }
                                oldList.classList.add('enabled');
                                // Добавить новый список после поля ввода
                                oldList.innerHTML = this.responseText;

                                let radioButtons = document.getElementsByName('movie');
                                let fileInput = document.getElementById('send_video');
                                let sendFile = false;
                                fileInput.addEventListener('change', function() {
                                    if(fileInput.files.length !== 0) {
                                        sendFile = true;
                                        checkConditions();
                                    }
                                });

                                for(let i = 0; i < radioButtons.length; i++) {
                                    radioButtons[i].addEventListener('change', function() {
                                        if(this.checked) {
                                            form.action = "/addmovie?id=" + this.value;
                                            checkConditions();
                                        }
                                    });
                                }

                                function checkConditions() {
                                    for(let i = 0; i < radioButtons.length; i++) {
                                        if(radioButtons[i].checked && sendFile) {
                                            button.disabled = false;
                                            button.classList.add('btnPointer');
                                            break;
                                        }
                                    }
                                }
                            }
                        };
                        xhr.send('movieName=' + encodeURIComponent(movieName));
                    }, 500);
                }
            });
        });
    </script>
    <script>
        let dropZone = document.getElementById('drop_zone');
        let inputFile = document.getElementById('send_video');

        // При перетаскивании над dropZone отменяем стандартное поведение
        dropZone.addEventListener('dragover', function(e) {
            e.preventDefault();
        });

        // При отпускании файла в dropZone, открываем файл
        dropZone.addEventListener('drop', function(e) {
            e.preventDefault();
            inputFile.files = e.dataTransfer.files;
            dropZone.innerText = "Загружено!";
        });

        // При клике на dropZone, открываем диалог выбора файла
        dropZone.addEventListener('click', function() {
            inputFile.click();
        });

        inputFile.addEventListener('change', function() {
            if (inputFile.files.length > 0) {
                dropZone.innerText = "Загружено!";
            }
        });
    </script>
    <script>
        let socket = new WebSocket("ws://localhost:8080/progress");
        var progressProcessingDiv = document.getElementById('progress__processing');
        var progressDownloadingTitle = document.getElementById('progress__downloading-title');
        var progressProcessingTitle = document.getElementById('progress__processing-title');
        var progressProcessingBar = document.getElementById('progress__processing-bar');

        socket.onmessage = function(event) {
            let progressProcessing = JSON.parse(event.data).progress;
            progressProcessingBar.style.width = progressProcessing*100 + '%';
            if(progressProcessingDiv.style.display != "block"){
                progressDownloadingTitle.innerText = 'Статус загрузки: Готово!';
                progressProcessingDiv.style.display = "block";
            }
            if(progressProcessing !== 1) {
                progressProcessingTitle.innerText = 'Статус обработки: ' + (progressProcessing*100).toFixed(1) + '%';
            } else progressProcessingTitle.innerText = 'Статус обработки: Готово!';
        };
    </script>
    <script>
        const myModal = new HystModal({
            linkAttributeName: "data-hystmodal",
        });
    </script>
    <script>
        let form = document.getElementById('section__movies-form');
        var progressProcessing = document.getElementById('progress__processing');
        var progressDownloadingTitle = document.getElementById('progress__downloading-title');
        var progressDownloadingBar = document.getElementById('progress__downloading-bar');

        form.onsubmit = function(event) {
            event.preventDefault();

            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();

            xhr.open('POST', form.action, true);

            xhr.upload.onprogress = function(event) {
                if (event.lengthComputable) {
                    var progressDownloading = event.loaded / event.total;
                    progressDownloadingBar.style.width = progressDownloading*100 + '%';
                    if(progressDownloading !== 1) {
                        progressDownloadingTitle.innerText = 'Статус загрузки: ' + (progressDownloading*100).toFixed(1) + '%';
                    } else {
                        progressDownloadingTitle.innerText = 'Статус загрузки: Готово!';
                        progressProcessing.style.display = 'block';
                    }
                }
            };

            xhr.onload = function() {
                if (xhr.status == 200) {
                    alert('Успешно загружено!');
                } else {
                    alert('Произошла ошибка при загрузке файла.');
                }
            };

            xhr.send(formData);
        }
    </script>
</body>
</html>